<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Products</h5>
    <p class="card-text fw-bold">Number of All Products is {{ productsNumber }}</p>
    <a type="button" class="btn btn-success" routerLink="/adminPanel/addProduct"> + Add</a>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Categories</h5>
    <p class="card-text fw-bold">Number of All Categories is {{ categoriesNumber }}</p>
    <a type="button" class="btn btn-success" routerLink="/adminPanel/addCategory"> + Add</a>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Brands</h5>
    <p class="card-text fw-bold">Number of All Brands is {{ brandsNumber }}</p>
    <a type="button" class="btn btn-success" routerLink="/adminPanel/addBrand"> + Add</a>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-4">Users</h5>
    <p class="card-text fw-bold">Number of All Users is {{ usersNumber }}</p>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
