<footer class="footerBackGround container-fluid pb-5">
  <div class="beforeFinal">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-4 col-md-2">
          <h3>About</h3>
          <ul>
            <li><a class="styleLinks" href="#">Team</a></li>
            <li><a class="styleLinks" href="#">Careers</a></li>
            <li><a class="styleLinks" href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-2">
          <h3>Services</h3>
          <ul>
            <li><a class="styleLinks" href="#">Branding</a></li>
            <li><a class="styleLinks" href="#">Design</a></li>
            <li><a class="styleLinks" href="#">Photography</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-2">
          <h3>Social</h3>
          <ul>
            <li><a class="styleLinks" href="#">Twitter</a></li>
            <li><a class="styleLinks" href="#">Instagram</a></li>
            <li><a class="styleLinks" href="#">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------------------->
  <div class="border my-4"></div>
  <div class="container">
    <div class="row">
      <div class="parent d-flex justify-content-between">
        <div class="col-md-6 part3">
          <div class="part1 d-flex part2">
            <h6 class="fw-semibold me-2 pt-2">Payment Partners</h6>
            <div class="d-flex align-items-center">
              <i class="fa-brands fa-cc-amazon-pay fs-3 ms-1" style="color: rgb(250, 176, 5)"></i>
              <i class="fa-brands fa-cc-mastercard fs-3 ms-2" style="color: rgb(247, 92, 0)"></i>
              <i class="fa-brands fa-cc-paypal fs-3 ms-2 text-info"></i>
              <i class="fa-brands fa-cc-apple-pay fs-3 ms-2 text-success"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 ps-3 part3">
          <div class="part2 d-flex ms-5 ps-5">
            <img src="../../../assets/images/AppStore.png" class="rounded me-2 imgwidth" />
            <img src="../../../assets/images/GooglePlay.png" class="rounded imgwidth" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border mt-4 mb-5"></div>
  <!---------------------------------------------------------------------------------------->
  <div class="final">
    <div class="container">
      <section class="base">
        <p class="copyRights">Copyright &copy; SoftTech 2024 All rights reserved</p>
        <div class="social">
          <a href="#" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </section>
    </div>
  </div>
</footer>
<!---------------------------------------------------------------------------------------->
