<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title fs-4 mb-3">{{ editMode ? 'Edit Brand' : 'Add Brand' }}</h5>
    <h5 class="fs-6 mb-5 ms-3">You can add or edit Brands here</h5>
    <!----------------------------------------------------------------------------------------------->
    <!-- Add Brand Form -->
    <form [formGroup]="addBrandForm">
      <div class="mb-3">
        <label for="brandName" class="form-label">Brand Name</label>
        <input type="text" class="form-control" id="brandName" formControlName="name" name="brandName" required />
        <div class="mb-2 col-sm-12 errors" *ngIf="addBrandForm.get('name')?.errors && addBrandForm.get('name')?.touched">
          <span *ngIf="addBrandForm.get('name')?.errors?.['required']" class="text-danger">Brand Name is required.</span>
          <span *ngIf="addBrandForm.get('name')?.errors?.['pattern']" class="text-danger">Invalid Brand Name. only alphabets allowed.</span>
          <span *ngIf="addBrandForm.get('name')?.errors?.['minlength']" class="text-danger">Invalid Brand Name, Min length is 3</span>
          <span *ngIf="addBrandForm.get('name')?.errors?.['maxlength']" class="text-danger">Invalid Brand Name, Max length is 15</span>
        </div>
      </div>
      <hr />
      <div class="mb-2">
        <label for="brandImage" class="form-label">Brand Image</label>
        <br />
        <input type="file" class="form-control-file" id="brandImage" name="brandImage" accept="image/*" (change)="onImageUpload($event)" required />
        <div>
          <img [src]="imageDisplay" alt="" class="w-25 mt-4" />
        </div>
        <br />
        <div class="mb-5 col-sm-12 errors" *ngIf="addBrandForm.get('image')?.errors && addBrandForm.get('image')?.dirty">
          <span *ngIf="addBrandForm.get('image')?.errors?.['required']" class="text-danger">Please select an image.</span>
        </div>
        <hr />
      </div>
      <div>
        <span *ngIf="backendErrors" class="text-danger my-3">An error occurred while creating the brand. Please try again.</span>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-success" (click)="createBrandBtn()" [disabled]="addBrandForm.invalid">{{ editMode ? 'Update' : ' + Create' }}</button>
        <button type="reset" class="btn btn-secondary ms-4" routerLink="/adminPanel/addCategory" (click)="resetAll()">Cancel</button>
      </div>
    </form>
    <!----------------------------------------------------------------------------------------------->
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
