<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 class="fs-3 mx-auto pt-3">SoftTech</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/adminPanel">Dashboard</a>
      </li>
      <li>
        <a routerLink="productsDashboard">Products</a>
      </li>
      <li>
        <a routerLink="categoriesDashboard">Categories</a>
      </li>
      <li>
        <a routerLink="brandsDashboard">Brands</a>
      </li>
      <li>
        <a routerLink="usersDashboard">Users</a>
      </li>
      <li>
        <a routerLink="ordersDashboard">Orders</a>
      </li>
    </ul>
  </nav>
</div>
